<div>
<section></section>
<div class="contain">
  <div id="overlay"></div>
  <div class="flex-center" >
    <div class="center">
      <div class="circle one"></div>
      <div class="circle two"></div>
      <div class="circle three"></div>
      <h1>Munners</h1>
      <p class="tagline">Your social workplace to munning.</p>
      <!-- <h3>Roll Call</h3> -->
      <p class="roll-call">A real delegate would never miss his roll call.</p>
      <div class="buttons">
        <button mat-raised-button (click)="auth.googleLogin()"><strong>Login with Google</strong></button>
        <button mat-raised-button (click)="auth.facebookLogin()"><strong>Login with Facebook</strong></button>    
      </div>
      <p class="terms">By proceeding, you agree to follow the <a>terms and conditions</a>.</p>
    </div>
  </div>
</div>


