section{
    max-width: 700px;
    margin: 0 auto;
}
mat-card{
    margin: 2em auto;
    max-width: 700px;  
}
img{
    width: 100%;
    margin: 0 auto;
 }
 mat-form-field{
     width: 100%;
 }