section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-gap: 30px;
  margin: 0 auto;
  max-width: 90%;
}
mat-card{
  margin: 2em auto;
  max-width: 700px;

}
h1{
    cursor: pointer;
}
h1:focus{
  outline: none;
  border: 0;
}
img{
  width: 100%;
  margin: 0 auto;
}