<section>
  <mat-toolbar color="primary" *ngIf="auth.afAuth.authState | async as user; else emptyDiv">
    <mat-toolbar-row class="container">
      <span class="title" routerLink="/blogPosts">M<span class="rest">unners</span></span>
      <!-- <mat-slide-toggle
      (click)="changeTheme()"
      [color]="color"
      [checked]="checked"
      [disabled]="disabled">
      </mat-slide-toggle> -->
      <span class="spacer"></span>
      <div *ngIf="auth.afAuth.authState | async as user; else showLogin">
        <button mat-raised-button routerLink="/dashboard">Write a Post</button>
        <button mat-button (click)="auth.logout()">LogOut</button>
      </div>
      <ng-template #showLogin>
        <button mat-button (click)="auth.googleLogin()">Login with Google</button>     
      </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
  <ng-template #emptyDiv></ng-template>
</section>