h2{
    font-weight: 600;
    font-family: 'spectral';
}
h3{
    font-weight: 400;
    color: #000;
    opacity: 1;
    font-family: 'spectral';
}
p{
    font-family: roboto;
    color: #000;
    opacity: 0.95;
}